<!DOCTYPE html>
<html>
<head>
    <title>NNReversi</title>


    <style>
        #reversi_board {
            background: green;
            border: 2px;
            border-color: black;
            margin: 20px; 
        }
    </style>

	{% load staticfiles %}
    <link href="{% static 'personal/css/googlefonts.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'personal/js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'personal/js/Game.js' %}"></script>
    <script type="text/javascript" src="{% static 'personal/js/draw.js' %}"></script>
</head>
<body>
    <canvas id="reversi_board" width="500px" height="500px"></canvas>
    <button id="button" name="button" onClick="runAjax()">Button</button>
    <p id="turn">●</p>
    <p id="countBlack">2</p>
    <p id="countWhite">2</p>
</body>
</html>
